[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
O = leafO
OU = leafOU
CN = leafCN

[v3_req]
keyUsage = critical, digitalSignature
extendedKeyUsage = critical, clientAuth, serverAuth
basicConstraints = critical, CA:false